/* Avatar pantalla completa */
.avatar-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url('/public/wall.png') no-repeat center center/cover;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

}

/* Canvas ocupa todo */
.avatar-screen canvas {
  width: 100% !important;
  height: 100% !important;
}

/* Distinct colors for each firework with multiple particles */
